<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{>header}}
    <div class="content">
        <p>Use this site to get the weather</p>
    </div>
    {{>footer}}
</body>
</html>