<!DOCTYPE html>
<head>
    {{>scripts}}
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="container">
    {{>header}}
    <div class="content">
        <p>Contact us. We are there to help you.</p>
    </div>
    {{>footer}}
</body>
</html>